{%extends 'include/homepage.html'%}
{% load static %}
{% block content %}
	<div class="main-page-wrapper">
		<!--[if lte IE 9]> <p class="browserupgrade"> You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security. </p> <![endif]-->

		<!-- Add your site or application content here -->
		<!-- preloader -->



		<!-- preloader start -->
		{%include 'include/header.html'%}
		<!-- slide-bar end -->

		<main>

			<!--page-title-area start-->
			<div class="page-title-area pt-220 pb-md-60"
				data-background="{% static 'assets/img/page-title/page-title-shadow-bg-1a.png' %}">
				<img class="shape__p1" src="{% static 'assets/img/shape/ht-star-2b.svg' %}" alt="Shape">
				<img class="shape__p2" src="{% static 'assets/img/shape/ht-star-2b.svg' %}" alt="Shape">
				<img class="shape__p3" src="{% static 'assets/img/shape/ht-star-2b.svg' %}" alt="Shape">
				<div class="blur__p4"></div>
				<div class="blur__p5"></div>
				<div class="blur__p6"></div>
				<div class="blur__p7"></div>
				<div class="container">
					<div class="row align-items-center">
						<div class="col-xl-4 col-lg-5">
							<div class="page-title-wrapper text-lg-start text-center mb-40">
								<h2 class="page-title mb-10"> Наши услуги</h2>
								<div class="page-title-border mt-1 mb-10"></div>
								<nav aria-label="breadcrumb">
									<ul class="breadcrumb list-none justify-content-center justify-content-md-start">
										<li><a href="{% url 'index'%}">Главная</a></li>
										{% comment %} <li><a href="#">Pages</a></li> {% endcomment %}
										<li class="active" aria-current="page">Услуги</li>
									</ul>
								</nav>
							</div>
						</div>
						<div class="col-xl-8 col-lg-7">
							<div class="page__title__img__wrapper text-xl-end text-center mb-40">
								<img class="main__1 img-fluid" src="{% static 'assets/img/page-title/ilustration-2a.svg' %}"
									alt="ilustration">
								<img class="main__2" src="{% static 'assets/img/page-title/ilustration-1a.svg' %}" alt="ilustration">
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--page-title-area end-->

			<!--feature__section start-->
			<div class="feature__section pt-150 pt-lg-100 pb-120 pb-lg-30">
				<div class="container">
					<div class="row">
						{% for service in services %}
						<div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
							<div class="ht__feature__two text-center mb-30 mt-35"
								data-background="{% static 'assets/img/shape/feature-bg-shape-1a.png' %}">
								<div class="ht__feature-icon">
									<img src="{{service.image.url}}" alt="chose">
								</div>
								<h4 class="ht-feature-title mb-20">{{service.title}}</h4>
								<p>{{service.descriptions|truncatewords:7}}</p>
								<a class="ht_btn_two" href="{%url 'service_detail' service.id%}"><i class="bi bi-arrow-up-right"></i></a>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
			<!--feature__section end-->

			<!-- services__area start -->
			<section class="services__area pt-100 pb-70 pt-lg-60 pb-lg-30">
				<img class="shapes__one" src="{% static 'assets/img/pattern/s-pattern-1a.svg' %}" alt="pattern">
				<img class="shapes__two" src="{% static 'assets/img/pattern/s-pattern-2a.svg' %}" alt="pattern two">
				<div class="container">
					<div class="row">
						<div class="col-lg-12" data-aos="fade-up" data-aos-delay="100">
							<div class="section__title text-center mb-60">
								<h4 class="section__title-sub-two">Услуги</h4>
								<h2 class="section__title-main">Наши лучшие услуги </h2>
							</div>
						</div>
					</div>
					<div class="row">
						{% for service in services %}
						<div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="0">
							<div class="ht-services mb-30">
							<a class="ht-services__icon" href="{%url 'service_detail' service.id%}">
									<div class="ht-services__icon-front">
										<img src="{% static 'assets/img/icon/cloud.svg' %}" alt="cloud">
									</div>
									<div class="ht-services__icon-back">
										<img src="{{service.image.url}}" alt="cloud">
									</div>
								</a>
					
							<h3 class="ht-services__title"><a href="{%url 'service_detail' service.id%}">{{service.title}}</a></h3>
								<p>{{rec_service.descriptions}}</p>
							<a class="ht-services__btn" href="{%url 'service_detail' service.id%}">Узнать больше
								</a>
							</div>
						</div>
					{% endfor %}
					
					</div>
				</div>
			</section>
			<!-- services__area end -->

			<!-- services__area-two start -->
			{% comment %} <section class="services__area-two pt-145 pb-145 pt-lg-60 pb-lg-80">
				<div class="container">
					<div class="row">
						<div class="col-lg-12" data-aos="fade-up" data-aos-delay="100">
							<div class="section__title text-center mb-50">
								<h4 class="section__title-sub-two mb-20">Услуги </h4>
								<h2 class="section__title-main">Самые частые тавары</h2>
							</div>
						</div>
					</div>
					<div class="row ht-services-three text-center text-md-start mb-30" data-aos="fade-up"
						data-aos-delay="100">
						{%for services in services.often_dervice.all%}
						<div class="col-lg-6 mb-lg-0 mb-3">
							<div class="d-md-flex align-items-center">
								<div class=" number"></div>
								<a class="ht-services__icon" href="services-details.html">
									<div class="ht-services__icon-front">
									<img src="{% static 'assets/img/icon/cloud.svg' %}" alt="cloud">
									</div>
									<div class="ht-services__icon-back">
								<img src="{{services.image.url}}" alt="cloud">
									</div>
								</a>

								<h3 class="ht-services__title"><a href="services-details.html">{{services.title}}</a>
								</h3>
							</div>
						</div>
						<div class="col-lg-6 ">
							<div class="services-bottom-content">
								<p>{services.descriptions}</p>
								<a class="more__btn" href="services-details.html"><i
										class="bi bi-arrow-up-right"></i></a>
							</div>
						</div>
						{% endfor %}
					</div>

				</div>
			</section> {% endcomment %}
			<!-- services__area-two end -->

			<!-- subscribe__newsletter start -->
			{% include 'include/subscribe.html' %}
			<!-- subscribe__newsletter end -->


		</main>
		<!--footer-area start-->
		{% include 'include/footer.html' %}
		<!--footer-area end-->

		<!--scrollToTopBtn end-->
		<a id="scrollToTopBtn" class="progress-wrap">
			<i class="bi bi-arrow-up"></i>
		</a>
	</div>

	<!-- JS here -->

	{% endblock %}

</body>

</html>