{% extends 'include/homepage.html'%}
{% load static %}
{% block content %}
	<div class="main-page-wrapper">
		<!--[if lte IE 9]> <p class="browserupgrade"> You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security. </p> <![endif]-->

		<!-- Add your site or application content here -->


		<!-- preloader start -->
		{%include 'include/header.html'%}
		<main>

			<!--page-title-area start-->
			<div class="page-title-area pt-220 pb-md-60"
				data-background="{% static 'assets/img/page-title/page-title-shadow-bg-1a.png' %}">
				<img class="shape__p1" src="{% static 'assets/img/shape/ht-star-2b.svg' %}" alt="Shape">
				<img class="shape__p2" src="{% static 'assets/img/shape/ht-star-2b.svg' %}" alt="Shape">
				<img class="shape__p3" src="{% static 'assets/img/shape/ht-star-2b.svg' %}" alt="Shape">
				<div class="blur__p4"></div>
				<div class="blur__p5"></div>
				<div class="blur__p6"></div>
				<div class="blur__p7"></div>
				<div class="container">
					<div class="row align-items-center">
						<div class="col-xl-4 col-lg-5">
							<div class="page-title-wrapper text-lg-start text-center mb-40">
								<h2 class="page-title mb-10">Детальный</h2>
								<div class="page-title-border mt-1 mb-10"></div>
								<nav aria-label="breadcrumb">
									<ul class="breadcrumb list-none justify-content-center justify-content-md-start">
										<li><a href="{%url 'index'%}">Главный</a></li>
										{% comment %} <li><a href="#">Pages</a></li> {% endcomment %}
										<li class="active" aria-current="page">Детальный</li>
									</ul>
								</nav>
							</div>
						</div>
						<div class="col-xl-8 col-lg-7">
							<div class="page__title__img__wrapper text-xl-end text-center mb-40">
								<img class="main__1 img-fluid" src="{% static 'assets/img/page-title/ilustration-2a.svg' %}"
									alt="ilustration">
								<img class="main__2">
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--page-title-area end-->

			<!--service__details__section end-->
			<div class="service__details__section pt-140 pt-lg-100 pb-45">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 pe-xxl-5">
							<div class="service__details__content mb-60">
								<h2 class="section__title-main">{{service.title}}</h2>
								<p>{{service.descriptions}}</p>
								<div class="service__img__box mb-30">
									<img class="img-fluid" src="{{service.image2.url}}" alt="service">
								</div>
								<p>{{service.descriptions2|safe}}</p>

								<div class="row align-items-center">
									<div class="col-lg-4 col-md-4">
										<div class="service__img__box mb-30">
											<img class="w-100" src="{% static 'assets/img/service/service-3a.jpg' %}" alt="service">
										</div>
									</div>
									<div class="col-lg-4 col-md-4">
										<div class="service__video text-center mb-30">
											<img class="w-100" src="{% static 'assets/img/service/service-3a.jpg' %}" alt="service">
											<a class="popup-video" href="{{service.video}}"><i
													class="bi bi-play-fill"></i></a>
										</div>
									</div>
									<div class="col-lg-4 col-md-4">
										<div class="service__img__box mb-30">
											<img class="w-100" src="{% static 'assets/img/service/service-5a.jpg' %}" alt="service">
										</div>
									</div>
								</div>
								<ul class="text-list-two list-none">
									<li>Collaboratively engineer prospective imperatives with transparent technology.
									</li>
									<li>Phosfluorescently morph excellent materials for multifunctional collaboration
										idea.</li>
									<li>Conveniently cultivate compelling processes before client-centered networks.
									</li>
								</ul>
								<h3 class="semi__title mb-25 mt-60">Our Specialized</h3>
								<p>Quickly integrate client-centered users through vertical data. Holisticly repurpose
									interactive expertise after distinctive resources. Collaboratively engineer
									prospective imperatives with transparent .</p>
								<div class="row gx-lg-2 progressbar-wrapper mb-1">
									<div class="col-lg-3 col-sm-6">
										<div class="progressbar__content text-center mb-45">
											<div class="chart" data-percent="80"><span>80%</span></div>
											<h4 class="progress__title">Web Security</h4>
										</div>
									</div>
									<div class="col-lg-3 col-sm-6">
										<div class="progressbar__content text-center mb-45">
											<div class="chart" data-percent="80"><span>80%</span></div>
											<h4 class="progress__title">Privacy & Policy</h4>
										</div>
									</div>
									<div class="col-lg-3 col-sm-6">
										<div class="progressbar__content text-center mb-45">
											<div class="chart" data-percent="88"><span>88%</span></div>
											<h4 class="progress__title">Data Security</h4>
										</div>
									</div>
									<div class="col-lg-3 col-sm-6">
										<div class="progressbar__content text-center mb-45">
											<div class="chart" data-percent="95"><span>95%</span></div>
											<h4 class="progress__title">Host Solution</h4>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 ps-lg-0">
							<div class="widget-right-section mb-40">
								<ul class="list-none category-widget">
									<li><a href="#">Industrial Automation <span class="float-end"><i
													class="bi bi-arrow-right-short"></i></span></a></li>
									<li><a href="#">Manufacturing System <span class="float-end"><i
													class="bi bi-arrow-right-short"></i></span></a></li>
									<li><a href="#">Oil and Gas Refinery <span class="float-end"><i
													class="bi bi-arrow-right-short"></i></span></a></li>
									<li><a href="#">Energy Management <span class="float-end"><i
													class="bi bi-arrow-right-short"></i></span></a></li>
									<li><a href="#">Smart Factory Solution <span class="float-end"><i
													class="bi bi-arrow-right-short"></i></span></a>
									</li>
									<li><a href="#">Lean Manufacturing <span class="float-end"><i
													class="bi bi-arrow-right-short"></i></span></a></li>
								</ul>
								<div class="grey-bg widget-form mt-60">
									<h3 class="widget__title__two mb-15">Contact Us</h3>
									<p class="mb-40">Collaboratively engineer prospective
										imperatives with transparent technology.</p>
										<form action="#" method="POST">
											{% csrf_token %}
											<input name="name" type="text" placeholder="Ваше имя">
											<input name="email" type="email" placeholder="Почта">
											<textarea name="message" placeholder="Сообщение" spellcheck="false"></textarea>
											<button type="submit" class="widget-btn mt-20">
											  Связаться
											</button>
										  </form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--service__details__section end-->

			<!-- subscribe__newsletter start -->
			<div class="subscribe__newsletter pt-80 pb-45" data-background="{% static 'assets/img/bg/cta-bg.jpg' %}">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-7 pe-lg-0">
							<div class="text-lg-start text-center mb-30">
								<h2 class="cta__title__two">Subscribe to Our Newsletter</h2>
							</div>
						</div>
						<div class="col-lg-5 ps-lg-0">
							<form class="subscribe__form mb-30">
								<input type="text" placeholder="Your Email Address">
								<button class="ht_btn submit-btn">SUBSCRIBE</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- subscribe__newsletter end -->


		</main>
		<!--footer-area start-->
		{%include 'include/footer.html'%}
		<!--footer-area end-->

		<!--scrollToTopBtn end-->
		<a id="scrollToTopBtn" class="progress-wrap">
			<i class="bi bi-arrow-up"></i>
		</a>
	</div>

	<!-- JS here -->
{% endblock %}

</body>

</html>