{% extends "include/homepage.html" %}
{% load static %}
{% block content %}

<div class="main-page-wrapper">
		<!--[if lte IE 9]> <p class="browserupgrade"> You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security. </p> <![endif]-->

		<!-- Add your site or application content here -->


		{% include "include/header.html" %}

		<main>
			<!-- theme__main__banner start -->
			<section class="theme__main__banner position-relative pt-105 pb-150 pb-md-100">
				<div class="shapes__1"></div>
				<div class="shapes__2"></div>
				<div class="shapes__3"></div>
				<img class="shapes__4" src="{% static 'assets/img/shape/he-shape-1a.svg' %}" alt="Shape Four">
				<img class="shapes__5" src="{% static 'assets/img/shape/he-shape-2a.svg' %}" alt="Shape Five">
				<img class="shapes__6" src="{% static 'assets/img/shape/he-shape-3a.svg' %}" alt="Shape Six">
				<img class="shapes__7" src="{% static 'assets/img/shape/he-shape-4a.svg' %}" alt="Shape Seven">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-6">
							<div class="theme__content text-lg-start text-center mb-5 mb-lg-0">
								<!-- <h4 class="theme__subtitle">We Provide</h4> -->
								<h2>
									<span data-text="One code" class="main__title">{{settings.title}}</span>
									<!-- <span data-text="Hosting Solution" class="main__title">Hosting Solution</span> -->
								</h2>
								<p class="fw-medium">{{settings.descriptions}}.</p>
								<a href="{% url 'contact' %}" class="ht_btn">Начать </a>

							</div>
						</div>
						<div class="col-lg-6">
							<div class="hero__img">
								<img src="{% static 'assets/img/hero/hero-img-1a.png' %}
								" alt="hero__img">
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- theme__maina__banner end -->

			<!-- domain__search__area start -->
			
			<!-- domain__search__area end -->

			<!-- about__area start -->
			<section class="about__area pt-150 pb-45 pt-lg-80">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-xl-7 col-lg-6">
							<div class="about__img position-relative mb-30">
								<img src="{{about.image.url}}" alt="Main" class="about__main">
								<div class="about__shapes-one"></div>
								<img class="about__shapes-two" src="{% static 'assets/img/shape/ab-star-1a.svg' %}"
									alt="About Shape Two">
								<img class="about__shapes-three" src="{% static 'assets/img/shape/ab-star-2a.svg' %}"
									alt="About Shape Three">
								<img class="about__shapes-four" src="{% static 'assets/img/shape/ab-star-3a.svg' %}"
									alt="About Shape Four">
							</div>
						</div>
						<div class="col-xl-5 col-lg-6 ps-xxl-5">
							<div class="about__wrapper ps-xxl-5 mb-30" data-aos="fade-left" data-aos-delay="300">
								<div class="section__title mb-15">
									<h4 class="section__title-sub">О нас</h4>
									<p>{{about.descriptions_about|safe}}</p>
								</div>
								<!-- <p class="mb-50">Dramatically supply transparent deliverables before caward comp
									internal.
								</p> -->
								<a href="{% url 'about' %}" class="ht_btn">Подробнее</a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- about__area end -->

			<!-- brand__area start -->
			<section class="brand__area">
				<div class="brand__bg__three pt-40 pb-100 pb-lg-60" data-background="{% static 'assets/img/bg/brand-bg-4.png' %}">
					<div class="blur__b1"></div>
					<div class="blur__b2"></div>
					<div class="blur__b3"></div>
					<div class="blur__b4"></div>
					<div class="blur__b5"></div>
					<img class="shapes__1 d-none d-md-inline-block" src="{% static 'assets/img/shape/ht-star-2b.svg' %}" alt="Shape">
					<img class="shapes__2" src="{% static 'assets/img/shape/ht-star-2b.svg' %}" alt="Shape">
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-lg-6">
								<div class="section__title text-center mb-45">
									<h4 class="section__title-sub-two mb-20">Партнеры</h4>
									
								</div>
							</div>
						</div>
						<div class="row brand-slider-one">
							{% for partners in partners %}
							<div class="col-2">
								<div class="brand__wrapper text-center">
									<a class="brand__logo" href="#"><img src="{{partners.image.url}}"
											alt="Brand Image"></a>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</section>
			<!-- brand__area end -->

			<!-- services__area start -->
			<section class="services__area pt-100 pb-70 pt-lg-60 pb-lg-30">
				<img class="shapes__one" src="{% static 'assets/img/pattern/s-pattern-1a.svg' %}" alt="pattern">
				<img class="shapes__two" src="{% static 'assets/img/pattern/s-pattern-2a.svg' %}" alt="pattern two">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="section__title text-center mb-60" data-aos="fade-up" data-aos-delay="100">
								<h4 class="section__title-sub">Cервисы</h4>
								<h2 class="section__title-main">Мы предоставляем лучшие услуги</h2>
							</div>
						</div>
					</div>
					<div class="row">
						{% for service in service %}
						<div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up">
							<div class="ht-services mb-30">
								<a class="ht-services__icon" href="{%url 'service_detail' service.id%}">
									<div class="ht-services__icon-front">
										<img src="{% static 'assets/img/icon/cloud.svg' %}" alt="cloud">
									</div>
									
									<div class="ht-services__icon-back">
										
										<img src="{% static 'assets/img/icon/cloud-1a.svg' %}" alt="cloud">
									</div>
								</a>
								
								<h3 class="ht-services__title"><a href="{%url 'service_detail' service.id%}">{{service.title}}</a></h3>
								<p>{{service.descriptions|safe|truncatewords:6}}</p>
								<a class="ht-services__btn" href="{%url 'service_detail' service.id%}">Подробнее</a>
							</div>
						</div>								
						{% endfor %}							
						
								<!-- <a class="ht-services__icon" href="services-details.html">
									
									<div class="ht-services__icon-front"> 
										 <img src="{% static 'assets/img/icon/server.svg' %}" alt="cloud">
									</div>
									<div class="ht-services__icon-back"> --> 
										<!-- <img src="{% static 'assets/img/icon/server-1a.svg' %}" alt="cloud"> -->
									<!-- </div>
								</a>

								<! h3 class="ht-services__title"><a href="services-details.html">Single Host</a></h3>
								<p>Seamlessly whiteboard long high impact and idea redefi ne high experiences.</p>
								<a class="ht-services__btn" href="services-details.html">Learn More</a> -->
							
					</div>
				</div>
			</section>
			<!-- services__area end -->

			<!-- price__area start -->
			<!-- удлено можно посмотреть в price -->
			<!-- price__area end -->

			<!-- chose__area start -->
			<section class="chose__area pt-75 pb-120 pt-lg-55 pb-lg-30">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-xl-5 col-lg-6" data-aos="fade-right" data-aos-delay="100">
							<div class="chose__content-wrapper mb-30">
								<div class="section__title mb-40 pe-xl-3">
									<!-- <h4 class="section__title-sub">Why Choose Us</h4> -->
									<h2 class="section__title-main">{{choose_us.title}}</h2>
									<p>{{choose_us.descriptions}}</p>
								</div>
								<div class="chose__feature">
									<a href="{% url 'contact' %}"><img src="{% static 'assets/img/icon/setting-1a.svg' %}" alt="Setting">{{choose_us.why_1}}<span class="float-end"><i class="fal fa-arrow-right"></i></span></a>
									<a href="{% url 'service' %}"><img src="{% static 'assets/img/icon/graph-1a.svg' %}" alt="Setting"> {{choose_us.why_2}}<span class="float-end"><i class="fal fa-arrow-right"></i></span></a>
									<a href="{% url 'about' %}"><img src="{% static 'assets/img/icon/shield-done-1a.svg' %}" alt="Setting">{{choose_us.why_3}}<span class="float-end"><i class="fal fa-arrow-right"></i></span></a>
								</div>
							</div>
						</div>
						<div class="col-xl-7 col-lg-6">
							<div class="chose__img text-lg-end mb-30 pe-lg-3">
								<img src="{% static 'assets/img/chose/ilus-main-1a.png' %}" alt="ilustration"
									class="chose__img-ilus img-fluid">
								<img src="{% static 'assets/img/chose/tick-mark-1a.svg' %}" alt="tickmark" class="chose__img-top">
								<img src="{% static 'assets/img/chose/board-1a.svg' %}" alt="board" class="chose__img-top-1">
								<img class="chose__img-shapes-two" src="{% static 'assets/img/shape/ab-star-1a.svg' %}"
									alt="About Shape Two">
								<img class="chose__img-shapes-three" src="{% static 'assets/img/shape/ch-big-star-1a.svg' %}"
									alt="About Shape Three">
								<img class="chose__img-shapes-four" src="{% static 'assets/img/shape/ab-star-3a.svg' %}"
									alt="About Shape Four">
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- chose__area end -->

			<!-- testimonial__area start -->
			<section class="testimonial__area pt-100 pb-100 pt-lg-60 pb-lg-30">
				<img class="shapes__one" src="{% static 'assets/img/pattern/s-pattern-1a.svg' %}" alt="pattern">
				<img class="shapes__two" src="{% static 'assets/img/pattern/s-pattern-2a.svg' %}" alt="pattern two">
				<div class="container">
					<div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
						<div class="col-xl-6">
							<div class="section__title text-center mb-60">
								<h4 class="section__title-sub">Отзывы</h4>
								<h2 class="section__title-main">Что наши клиенты говорят о нас</h2>
							</div>
						</div>
					</div>
				</div>
				<div class="testimonial-slider-container">
					<div class="row testimonial__slider">
						{% for reviews in reviews %}
						<div class="col-lg-4">
							<div class="testimonial__wrapper">
								<div class="rating">
									<a href="#"><i class="fas fa-star"></i></a>
									<a href="#"><i class="fas fa-star"></i></a>
									<a href="#"><i class="fas fa-star"></i></a>
									<a href="#"><i class="fas fa-star"></i></a>
									<a href="#"><i class="fas fa-star"></i></a>
								</div>
								<p>{{reviews.description|safe}}</p>
								<img class="author__avatar" src="{{reviews.image.url}}" width = '80px' height = '80px'
									alt="autho avatar">
								<h3 class="author__name">
									{{reviews.name}}
								</h3>
								
							</div>
						</div>
						{% endfor %}
						
					</div>
					<div class="pagination-area d-none d-md-inline-block">
						<div class="next_t1"><i class="bi bi-chevron-left"></i></div>
						<div class="prev_t1"><i class="bi bi-chevron-right"></i></div>
					</div>
				</div>
			</section>
			<!-- testimonial__area end -->

			<!-- blog__area start -->
			<div class="blog__grid__section pt-150 pb-120 pt-lg-120 pb-lg-90">
				<div class="container">
					<div class="row align-items-center justify-content-center">
						{% for news in news %}
						<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="0">
							<div class="ht-blog-five mb-45">
								<div class="ht-blog__thumb">
									<img class="w-100" src="{{news.image.url}}" alt="blog">
									<div class="ht-blog__date">
										{{news.created_at}}
									</div>
								</div>
								<div class="ht-blog__content">
									<h3 class="blog-title mb-3 pb-20"><a href="{% url 'blog_detail' news.id %}">{{news.title}}</a></h3>
									
									<div class="ht-blog-btn mt-3 d-none">
										<a class="ht_black_btn" href="{% url 'blog_detail' news.id %}">Подробнее</a>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
					
				</div>
			</div>
			<!-- blog__area end -->

			<!-- cta__area start -->
			<div class="cta__area pb-150 pb-lg-100">
				<div class="container">
					<div class="row justify-content-center cta__wrapper pt-75 pb-100">
						<div class="col-lg-8">
							<div class="text-center">
								<h2 class="cta__title" data-aos="fade-up" data-aos-delay="100">
									Есть проект на примете? Давай приступим к работе.</h2>
								<a class="ht_btn" href="{% url 'contact' %}" data-aos="fade-up" data-aos-delay="150">Связаться</a>
								<img class="cta__shape" src="{% static 'assets/img/cta/cta-1a-round.svg' %}" alt="round shape">
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- cta__area end -->

		</main>
		<!--footer-area start-->
		{% include "include/footer.html" %}
		<!--footer-area end-->

		<!--scrollToTopBtn end-->
		<a id="scrollToTopBtn" class="progress-wrap">
			<i class="bi bi-arrow-up"></i>
		</a>


	</div>
	<!--main-page-wrapper end-->


	<!-- JS here -->
{% endblock %}