{% load static %}
		<!-- preloader start -->
		<div id="preloader">
			<div id="ctn-preloader" class="ctn-preloader">
				<div class="icon"><img src="{% static 'assets/img/favicon.png' %}" alt="" class="m-auto d-block" width="60">
				</div>
				<div class="txt-loading">
					<span data-text-preloader="O" class="letters-loading">
						O
					</span>
					<span data-text-preloader="n" class="letters-loading">
						n
					</span>
					<span data-text-preloader="e" class="letters-loading">
						e
					</span>
					<span data-text-preloader="C" class="letters-loading">
						C
					</span>
					<span data-text-preloader="o" class="letters-loading">
						o
					</span>
					<span data-text-preloader="d" class="letters-loading">
						d
					</span>
					<span data-text-preloader="e" class="letters-loading">
						e
					</span>
				</div>
			</div>
		</div>
		<!-- preloader end  -->


		<!-- offcanvas start  -->
		<div class="offcanvas offcanvas-top theme-bg" tabindex="-1" id="offcanvasTop">
			<div class="offcanvas-header">
				<a data-bs-dismiss="offcanvas" aria-label="Close">
					<i class="fas fa-times search-close" id="search-close"></i>
				</a>
			</div>
			<div class="offcanvas-body">
				<!-- Fullscreen search -->
				<div class="search-wrap">
					<form method="get">
						<input type="search" class="main-search-input" placeholder="Search Your Keyword...">
					</form>
				</div>
				<!-- end fullscreen search -->
			</div>
		</div>
		<!-- offcanvas end  -->

		<!-- shopping-cart-bar start -->
		
		<!-- shopping-cart-bar end -->

		<!-- header-area start -->
		<header class="theme-main-menu theme-menu-one">
			<div class="main-header-area">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-2 col-sm-4 col-6">
							<div class="logo-area">
								<a class="front" href="{% url 'index' %}"><img src="{{settings.logo.url}}" width = "100px" 
										alt="Header-logo"></a>
								<a class="back" href="{% url 'index' %}"><img src="{{settings.logo.url}}" width = "100px" 
										alt="Header-logo"></a>
							</div>
						</div>
						<div
							class="col-lg-10 col-sm-8 col-6 d-flex align-items-center justify-content-center justify-content-sm-end">
							<div class="main-menu d-none d-lg-block">
								<nav id="mobile-menu">
									<ul class="menu-list">
										<li>
											<a href="{% url 'index' %}">
												Главная
											</a>
											
										</li>
										<li>
											<a href="#">
												Страницы	
											</a>
											<ul class="sub-menu">
												<li>
													<a href="{% url 'about' %}">О нас</a>
												</li>
												

												<li>
													<a href="{% url 'team' %}">Команда <span class="sub-menu-arrow"><i
																class="bi bi-chevron-down"></i></span></a>
													<ul class="sub-menu">
														
													</ul>
												</li>
												<li>
													<a href="{% url 'price' %}">Цена</a>
												</li>
												<li>
													<a href="{% url 'faq' %}">FAQ</a>
												</li>
												<!-- <li>
													<a href="error.html">Error - 404</a>
												</li>
												
												<li>
													<a href="signup.html">Signup</a>
												</li> -->
												<!-- <li>
													<a href="cart.html">Корзина</a>
												</li> -->
												<!-- <li>
													<a href="checkout.html">Checkout</a>
												</li>
												<li>
													<a href="coming-soon.html">Comming Soon</a>
												</li> -->
											</ul>
										</li>
										<li>
											<li>
												<a href="{% url 'service' %}">Услуги</a>
											</li>
										<!-- <li>
											<a href="#">Project</a>
											<ul class="sub-menu">
												<li>
													<a href="project-grid.html">Project
														Grid</a>
												</li>
												<li>
													<a href="project-masonry.html">Project
				 										Masonry</a>
												</li>
												<li>
													<a href="project-details.html">Project
														Details</a>
												</li>
											</ul>
										</li> -->
										
										<li>
											<a href="{% url 'blog' %}">Блок</a>
										</li>
										<li>
											<a href="{%url 'contact'%}">Контакт</a>
										</li>
									</ul>
								</nav>
							</div>
							<div class="right-nav mb-0 d-flex align-items-center ms-sm-5">
								
								<div class="search-area me-4 ms-2">
									<a class="search_input" href="#" data-bs-toggle="offcanvas"
										data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">
										<i class="bi bi-search"></i>
									</a>
								</div>
								<div class="hamburger-menu">
									<a class="round-menu" href="javascript:void(0);">
										<i class="far fa-bars"></i>
									</a>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
			<!-- /.theme-main-menu -->
		</header>
		<!-- header-area end -->
		<!-- slide-bar start -->
		<aside class="slide-bar">
			<div class="close-mobile-menu">
				<a href="javascript:void(0);">
					<i class="fas fa-times"></i>
				</a>
			</div>
			<!-- offset-sidebar start -->
			<div class="offset-sidebar">
				<div class="offset-widget offset-logo mb-30">
					<a href="{% url 'index' %}">
						<img src="{{settings.logo.url}}" width = "100px"  alt="logo">
					</a>
				</div>
				<div class="mobile-menu"></div>
				<div class="offset-widget mb-40">
					<div class="info-widget">
						<h4 class="offset-title mb-20">About Us</h4>
						<p class="mb-30">
							But I must explain to you how all this mistaken idea of denouncing pleasure and
							praising pain was born and will give you a complete account of the system and
							expound the actual teachings of the great explore
						</p>
					</div>
				</div>
				<div class="offset-widget mb-30 pr-10">
					<div class="info-widget info-widget2">
						<h4 class="offset-title mb-20">Contact Info</h4>
						<p>
							<i class="fal fa-address-book"></i>
							23/A, Miranda City Likaoli Prikano, Dope</p>
						<p>
							<i class="fal fa-phone"></i>
							+0989 7876 9865 9
						</p>
						<p>
							<i class="fal fa-envelope-open"></i>
							info@example.com
						</p>
					</div>
				</div>
				<div class="login-btn text-center">
					<a class="ht_btn w-100" href="login.html">Login</a>
				</div>
			</div>
			<!-- offset-sidebar end -->

		</aside>
		<div class="body-overlay"></div>
		<!-- slide-bar end -->