{% extends "include/homepage.html" %}
{% load static %}
{% block content %}
<div class="main-page-wrapper">
	<!--[if lte IE 9]> <p class="browserupgrade"> You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security. </p> <![endif]-->

	<!-- Add your site or application content here -->

	<!-- preloader start -->
	{% include 'include/header.html' %}
	<!-- preloader end  -->


	<!-- offcanvas start  -->
	
		<!-- offcanvas end  -->

		<!-- header-area start -->
		
		<!-- header-area end -->

		<!-- slide-bar start -->
		
		<div class="body-overlay"></div>
		<!-- slide-bar end -->

		<main>

			<!--page-title-area start-->
			<div class="page-title-area pt-220 pb-md-60"
				data-background="{% static 'assets/img/page-title/page-title-shadow-bg-1a.png' %}">
				<img class="shape__p1" src="{% static 'assets/img/shape/ht-star-2b.svg' %}" alt="Shape">
				<img class="shape__p2" src="{% static 'assets/img/shape/ht-star-2b.svg' %}" alt="Shape">
				<img class="shape__p3" src="{% static 'assets/img/shape/ht-star-2b.svg' %}" alt="Shape">
				<div class="blur__p4"></div>
				<div class="blur__p5"></div>
				<div class="blur__p6"></div>
				<div class="blur__p7"></div>
				<div class="container">
					<div class="row align-items-center">
						<div class="col-xl-4 col-lg-5">
							<div class="page-title-wrapper text-lg-start text-center mb-40">
								<h2 class="page-title mb-10">{{slide.title}}</h2>
								<div class="page-title-border mt-1 mb-10"></div>
								<nav aria-label="breadcrumb">
									<ul class="breadcrumb list-none justify-content-center justify-content-md-start">
										<li><a href="{% url 'index' %}">Главная</a></li>
										
										<li class="active" aria-current="page">Подробнее</li>
									</ul>
								</nav>
							</div>
						</div>
						<div class="col-xl-8 col-lg-7">
							<div class="page__title__img__wrapper text-xl-end text-center mb-40">
								<img class="main__1 img-fluid" src="{{slide.image.url}}"
									alt="ilustration">
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--page-title-area end-->

			<!-- blog__grid__section start -->
			<div class="blog__grid__section pt-150 pb-120 pt-lg-120 pb-lg-90">
				<div class="container">
					<div class="row align-items-center justify-content-center">
						{% for news in news_page %}
						<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="0">
							<div class="ht-blog-five mb-45">
								<div class="ht-blog__thumb">
									<img class="w-100" src="{{news.image.url}}" alt="blog">
									<div class="ht-blog__date">
										{{news.created_at}}
									</div>
								</div>
								<div class="ht-blog__content">
									<h3 class="blog-title mb-3 pb-20"><a href="{% url 'blog_detail' news.id %}">{{news.title|truncatechars:12}}</a></h3>
									
									<div class="ht-blog-btn mt-3 d-none">
										<a class="ht_black_btn" href="{% url 'blog_detail' news.id %}">Подробнее</a>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
					<div class="row">
						<div class="col-lg-12 text-center">
							<div class="page-navigation mt-15">
								<ul class="pagination justify-content-center">
									<li class="page-item {% if news_page.number == 1 %}disabled{% endif %}">
										<a class="page-link" href="?page=1"><i class="bi bi-arrow-left-short"></i></a>
									</li>
									{% for num in news_page.paginator.page_range %}
									<li class="page-item{% if num == news_page.number %} active{% endif %}">
										<a class="page-link" href="?page={{ num }}">{{ num }}</a>
									</li>
									{% endfor %}
									<li class="page-item {% if news_page.number == news_page.paginator.num_pages %}disabled{% endif %}">
										<a class="page-link" href="?page={{ news_page.paginator.num_pages }}"><i class="bi bi-arrow-right-short"></i></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- blog__grid__section end -->

			<!-- subscribe__newsletter start -->
			{% include 'include/subscribe.html' %}
			<!-- subscribe__newsletter end -->


		</main>
		<!--footer-area start-->
		{% include 'include/footer.html' %}
		<!--footer-area end-->

		<!--scrollToTopBtn end-->
		<a id="scrollToTopBtn" class="progress-wrap">
			<i class="bi bi-arrow-up"></i>
		</a>
	</div>

{% endblock %}