{% extends "include/homepage.html" %}
{% load static %}
{% block content %}
	<div class="main-page-wrapper">
		<!--[if lte IE 9]> <p class="browserupgrade"> You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security. </p> <![endif]-->

		<!-- Add your site or application content here -->

		<!-- preloader start -->
		{% include 'include/header.html' %}
		<div class="body-overlay"></div>
		<!-- slide-bar end -->

		<main>

			<!--page-title-area start-->
			<div class="page-title-area pt-220 pb-md-60"
				data-background="{% static 'assets/img/page-title/page-title-shadow-bg-1a.png' %}">
				<img class="shape__p1" src="{% static 'assets/img/shape/ht-star-2b.svg' %}" alt="Shape">
				<img class="shape__p2" src="{% static 'assets/img/shape/ht-star-2b.svg' %}" alt="Shape">
				<img class="shape__p3" src="{% static 'assets/img/shape/ht-star-2b.svg' %}" alt="Shape">
				<div class="blur__p4"></div>
				<div class="blur__p5"></div>
				<div class="blur__p6"></div>
				<div class="blur__p7"></div>
				<div class="container">
					<div class="row align-items-center">
						<div class="col-xl-4 col-lg-5">
							<div class="page-title-wrapper text-lg-start text-center mb-40">
								<h2 class="page-title mb-10">Цена</h2>
								<div class="page-title-border mt-1 mb-10"></div>
								<nav aria-label="breadcrumb">
									<ul class="breadcrumb list-none justify-content-center justify-content-md-start">
										<li><a href="{% url 'index' %}">Главная</a></li>
										<li class="active" aria-current="page">Цена</li>
									</ul>
								</nav>
							</div>
						</div>
						<div class="col-xl-8 col-lg-7">
							<div class="page__title__img__wrapper text-xl-end text-center mb-40">
								<img class="main__1 img-fluid" src="{{slide.image.url}}"
									alt="ilustration">
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--page-title-area end-->

			<!--feature__section start-->
			<div class="feature__section pt-150 pt-lg-100 pb-120 pb-lg-30">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
							<div class="ht__feature__two text-center mb-30 mt-35"
								data-background="{% static 'assets/img/shape/feature-bg-shape-1a.png' %}">
								<div class="ht__feature-icon">
									<img src="{% static 'assets/img/icon/seo.svg' %}" alt="chose">
								</div>
								<h4 class="ht-feature-title mb-20">{{function.name1}}</h4>
								<p>{{function.descriptions1}}</p>
								<a class="ht_btn_two" href="#"><i class="bi bi-arrow-up-right"></i></a>
							</div>
						</div>
						<div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="150">
							<div class="ht__feature__two text-center mb-30 mt-35"
								data-background="{% static 'assets/img/shape/feature-bg-shape-1a.png' %}">
								<div class="ht__feature-icon">
									<img src="{% static 'assets/img/icon/seo.svg' %}" alt="chose">
								</div>
								<h4 class="ht-feature-title mb-20">{{function.name2}}</h4>
								<p>{{function.descriptions2}}</p>
								<a class="ht_btn_two" href="#"><i class="bi bi-arrow-up-right"></i></a>
							</div>
						</div>
						<div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
							<div class="ht__feature__two text-center mb-30 mt-35"
								data-background="{% static 'assets/img/shape/feature-bg-shape-1a.png' %}">
								<div class="ht__feature-icon">
									<img src="{% static 'assets/img/icon/discount-label.svg' %}" alt="chose">
								</div>
								<h4 class="ht-feature-title mb-20">{{function.name3}}</h4>
								<p>{{function.descriptions3}}</p>
								<a class="ht_btn_two" href="#"><i class="bi bi-arrow-up-right"></i></a>
							</div>
						</div>
						<div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="250">
							<div class="ht__feature__two text-center mb-30 mt-35"
								data-background="{% static 'assets/img/shape/feature-bg-shape-1a.png' %}">
								<div class="ht__feature-icon">
									<img src="{% static 'assets/img/icon/monitor.svg' %}" alt="chose">
								</div>
								<h4 class="ht-feature-title mb-20">{{function.name4}}</h4>
								<p>{{function.descriptions4}}</p>
								<a class="ht_btn_two" href="#"><i class="bi bi-arrow-up-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--feature__section end-->

			<!-- price__area start -->
			<!-- <section class="price__area pb-45 pb-lg-25">
				<div class="price__wrapper__three pt-75">
					<div class="container">
						<div class="row">
							<div class="col-lg-12">
								<div class="section-title text-center mb-50">
									<h4 class="section__title-sub-two mb-20">Наши цены</h4>
									<h2 class="section__title-main">
										Мы предлагаем Вам лучшие цены</h2>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 text-center mb-60">
								<ul class="nav nav-tabs price-tab" id="myTab" role="tablist">
									<li class="nav-item" role="presentation">
										<button class="nav-link active" id="home-tab" data-bs-toggle="tab"
											data-bs-target="#home" type="button" role="tab" aria-controls="home"
											aria-selected="true">Ежемесячно</button>
									</li>
									<li class="nav-item" role="presentation">
										<button class="nav-link" id="profile-tab" data-bs-toggle="tab"
											data-bs-target="#profile" type="button" role="tab" aria-controls="profile"
											aria-selected="false">Ежегодно</button>
									</li>
								</ul>
							</div>
						</div>
						<div class="tab-content" id="myTabContent">
							<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
								<div class="row justify-content-center">
									{% for price in price %}
									<div class="col-lg-4 col-md-6">
										<div class="ht-plan ht-plan-4 mb-30">
											<div class="ht-plan__tag"><span>Популярный</span></div>
											<div class="ht-plan__header text-center pt-10">
												<h3 class="ht-plan__header-title">{{goodprice.title}}</h3>
												<p class="ht-plan__header-desc mb-25">{{goodprice.descriptions}}</p>
												<div class="ht-plan__header-price">
													<h2 class="price-title-white">{{goodprice.price}}</h2>
													<span>/Месяц</span>
												</div>
												<div class="price__border"></div>
											</div>
											<div class="price__inner__content">
												<div class="ht-plan__body mb-100">
													<ul class="ht-plan__body-feature">
														{% for goodprice in goodprice.price_inline_info.all %}
														<li><a href="#">{{goodprice.title}}</a></li>
														{% endfor %}
													</ul>
												</div>
												<div class="ht-plan__footer mb-15">
													<a class="ht_btn" href="contact.html">ПОЛУЧИТЬ ДОСТУП</a>
												</div>
											</div>
										</div>
									</div>
									{% endfor %}
									
								</div>
							</div>
							<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
								<div class="row justify-content-center">
									<div class="col-lg-4 col-md-6">
										<div class="ht-plan ht-plan-4 mb-30">
											<div class="ht-plan__tag"><span>Most Popular Option</span></div>
											<div class="ht-plan__header text-center pt-10">
												<h3 class="ht-plan__header-title">Start</h3>
												<p class="ht-plan__header-desc mb-25">Best Choice for individuals</p>
												<div class="ht-plan__header-price">
													<h2 class="price-title-white">$09</h2>
													<span>/Month</span>
												</div>
												<div class="price__border"></div>
											</div>
											<div class="price__inner__content">
												<div class="ht-plan__body mb-100">
													<ul class="ht-plan__body-feature">
														<li><a href="#">20 GB Storage Space</a></li>
														<li><a href="#">10 Domain Support</a></li>
														<li><a href="#">500 GB Bandwith</a></li>
														<li><a href="#">100 Email Accounts</a></li>
														<li><a href="#">24/7 Support</a></li>
													</ul>
												</div>
												<div class="ht-plan__footer mb-15">
													<a class="ht_btn" href="contact.html">GET ACCESS</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-6">
										<div class="ht-plan ht-plan-4 active mb-30">
											<div class="ht-plan__tag"><span>Most Popular Option</span></div>
											<div class="ht-plan__header text-center pt-10">
												<h3 class="ht-plan__header-title">Business</h3>
												<p class="ht-plan__header-desc mb-25">Best Choice for individuals</p>
												<div class="ht-plan__header-price">
													<h2 class="price-title-white">$259</h2>
													<span>/Month</span>
												</div>
												<div class="price__border"></div>
											</div>
											<div class="price__inner__content">
												<div class="ht-plan__body">
													<ul class="ht-plan__body-feature">
														<li><a href="#">20 GB Storage Space</a></li>
														<li><a href="#">10 Domain Support</a></li>
														<li><a href="#">500 GB Bandwith</a></li>
														<li><a href="#">100 Email Accounts</a></li>
														<li><a href="#">24/7 Support</a></li>
														<li><a href="#">1500 Email Accounts</a></li>
														<li><a href="#">VPS Accounts</a></li>
													</ul>
												</div>
												<div class="ht-plan__footer mb-15">
													<a class="ht_btn" href="contact.html">GET ACCESS</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-6">
										<div class="ht-plan ht-plan-4 mb-30">
											<div class="ht-plan__tag"><span>Most Popular Option</span></div>
											<div class="ht-plan__header text-center pt-10">
												<h3 class="ht-plan__header-title">Premium</h3>
												<p class="ht-plan__header-desc mb-25">Best Choice for individuals</p>
												<div class="ht-plan__header-price">
													<h2 class="price-title-white">$53</h2>
													<span>/Month</span>
												</div>
												<div class="price__border"></div>
											</div>
											<div class="price__inner__content">
												<div class="ht-plan__body mb-100">
													<ul class="ht-plan__body-feature">
														<li><a href="#">20 GB Storage Space</a></li>
														<li><a href="#">10 Domain Support</a></li>
														<li><a href="#">500 GB Bandwith</a></li>
														<li><a href="#">100 Email Accounts</a></li>
														<li><a href="#">24/7 Support</a></li>
													</ul>
												</div>
												<div class="ht-plan__footer mb-15">
													<a class="ht_btn" href="contact.html">GET ACCESS</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section> -->
			<!-- price__area end -->

			<!-- brand__area start -->
			<section class="brand__area">
				<div class="brand__bg__three pt-40 pb-100 pb-lg-60" data-background="{% static 'assets/img/bg/brand-bg-4.png' %}">
					<div class="blur__b1"></div>
					<div class="blur__b2"></div>
					<div class="blur__b3"></div>
					<div class="blur__b4"></div>
					<div class="blur__b5"></div>
					<img class="shapes__1 d-none d-md-inline-block" src="{% static 'assets/img/shape/ht-star-2b.svg' %}" alt="Shape">
					<img class="shapes__2" src="{% static 'assets/img/shape/ht-star-2b.svg' %}" alt="Shape">
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-lg-6">
								<div class="section__title text-center mb-45">
									<h4 class="section__title-sub-two mb-20">Партнеры</h4>
									<h2 class="section__title-main">
										Нам доверяют более 100+ компаний</h2>
								</div>
							</div>
						</div>
						<div class="row brand-slider-one">
							{% for partners in partners %}
							<div class="col-2">
								<div class="brand__wrapper text-center">
									<a class="brand__logo" href="#"><img src="{{partners.image.url}}"
											alt="Brand Image"></a>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</section>
			<!-- brand__area end -->

			<!-- cta__area__two start -->
			<div class="cta__area pt-150 pt-lg-100 pb-150 pb-xs-100">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-xl-10">
							<div class="cta__wrapper text-center pt-80 pb-100">
								<h2 class="cta__title__three mb-35">Есть проект на примете? Давай приступим к работе.</h2>
								<a class="ht_btn" href="#">Связаться</a>
								<img class="img-fluid cta__bubble" src="{% static 'assets/img/shape/round-1.svg' %}" alt="shape">
								<div class="cta__divider"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- cta__area__two end -->

			<!-- subscribe__newsletter start -->
			{% include 'include/subscribe.html' %}
			<!-- subscribe__newsletter end -->


		</main>
		<!--footer-area start-->
		{% include 'include/footer.html' %}
		<!--footer-area end-->

		<!--scrollToTopBtn end-->
		<a id="scrollToTopBtn" class="progress-wrap">
			<i class="bi bi-arrow-up"></i>
		</a>
	</div>

	<!-- JS here -->
{% endblock %}