{% extends "include/homepage.html" %}
{% load static %}
{% block content %}
	<div class="main-page-wrapper">
		<!--[if lte IE 9]> <p class="browserupgrade"> You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security. </p> <![endif]-->

		<!-- Add your site or application content here -->
		{% include 'include/header.html' %}
		<!-- preloader start -->
		
		<div class="body-overlay"></div>
		<!-- slide-bar end -->

		<main>

			<!--page-title-area start-->
			<div class="page-title-area pt-220 pb-md-60"
				data-background="{% static 'assets/img/page-title/page-title-shadow-bg-1a.png' %}">
				<img class="shape__p1" src="{% static 'assets/img/shape/ht-star-2b.svg' %}" alt="Shape">
				<img class="shape__p2" src="{% static 'assets/img/shape/ht-star-2b.svg' %}" alt="Shape">
				<img class="shape__p3" src="{% static 'assets/img/shape/ht-star-2b.svg' %}" alt="Shape">
				<div class="blur__p4"></div>
				<div class="blur__p5"></div>
				<div class="blur__p6"></div>
				<div class="blur__p7"></div>
				<div class="container">
					<div class="row align-items-center">
						<div class="col-xl-4 col-lg-5">
							<div class="page-title-wrapper text-lg-start text-center mb-40">
								<h2 class="page-title mb-10">Вся команда</h2>
								<div class="page-title-border mt-1 mb-10"></div>
								<nav aria-label="breadcrumb">
									<ul class="breadcrumb list-none justify-content-center justify-content-md-start">
										<li><a href="{% url 'index' %}">Главная</a></li>
										<li class="active" aria-current="page">Вся команда</li>
									</ul>
								</nav>
							</div>
						</div>
						<div class="col-xl-8 col-lg-7">
							<div class="page__title__img__wrapper text-xl-end text-center mb-40">
								<img class="main__1 img-fluid" src="{% static 'assets/img/page-title/ilustration-2a.svg' %}"
									alt="ilustration">
								<img class="main__2" src="{% static 'assets/img/page-title/ilustration-1a.svg' %}" alt="ilustration">
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--page-title-area end-->

			<!-- team__details__section start -->
			<div class="team__details__section pt-150 pt-lg-120 pb-130 pb-lg-90">
				<div class="container">
					<div class="team__details__wrapper mb-60">
						<div class="row align-items-center">
							<div class="col-xl-6 order-xl-last">
								<div class="team__details__img__wrapper mb-30">
									<img class="w-100" src="{{details.image.url}}" alt="team">
								</div>
							</div>
							<div class="col-xl-6">
								<div class="team__details__content mb-30">
									<h3 class="team__name mb-15">{{team.name}}</h3>
									<div class="team__tags mb-25">
										
			
									</div>
									<ul class="team__info__list order-">
										<li>
											<div class="team__info__box mb-15">
												<div class="team__icon">
													<img src="{% static 'assets/img/icon/briefcase.svg' %}" alt="icon">
												</div>
												<div class="team__info__content">
													<span class="info__label">Работа</span>
													<h5 class="info__title">{{details.work}}</h5>
												</div>
											</div>
										</li>
										
										<li>
											<div class="team__info__box mb-15">
												<div class="team__icon">
													<img src="{% static 'assets/img/icon/calling-5d.svg' %}" alt="icon">
												</div>
												<div class="team__info__content">
													<span class="info__label">Телефон</span>
													<h5 class="info__title">{{details.phone}}</h5>
												</div>
											</div>
										</li>
										<li>
											<div class="team__info__box mb-15">
												<div class="team__icon">
													<img src="{% static 'assets/img/icon/language.svg' %}" alt="icon">
												</div>
												<div class="team__info__content">
													<span class="info__label">Язык</span>
													<h5 class="info__title">{{details.language}}</h5>
												</div>
											</div>
										</li>
										<li>
											<div class="team__info__box mb-15">
												<div class="team__icon">
													<img src="{% static 'assets/img/icon/message.svg' %}" alt="icon">
												</div>
												<div class="team__info__content">
													<span class="info__label">Почта</span>
													<h5 class="info__title">{{details.email}}</h5>
												</div>
											</div>
										</li>
										<li>
											<div class="team__info__box mb-15">
												<div class="team__icon">
													<img src="{% static 'assets/img/icon/time-square.svg' %}" alt="icon">
												</div>
												<div class="team__info__content">
													<span class="info__label">Опыт рыботы</span>
													<h5 class="info__title">{{details.experience}}</h5>
												</div>
											</div>
										</li>
									</ul>
									<div class="social-links mt-20">
										<h4 class="mb-15">Следуйте больше:</h4>
										<a href="{{team.facebook}}"><i class="fab fa-facebook-f"></i></a>
										<a href="{{team.twitter}}"><i class="fab fa-twitter"></i></a>
										<a href="{{team.instagram}}"><i class="fab fa-instagram"></i></a>
										<a href="{{team.youtube}}"><i class="fab fa-youtube"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="team__biography__content">
							<h3 class="semi__title mb-25">Биография</h3>
							
							<p>{{details.biography|safe}}</p>
						</div>
					</div>
				</div>
			</div>
			<!-- team__details__section end -->

			<!-- subscribe__newsletter start -->
			{% include 'include/subscribe.html' %}
			<!-- subscribe__newsletter end -->


		</main>
		<!--footer-area start-->
		{% include 'include/footer.html' %}
		<!--footer-area end-->


		<!--scrollToTopBtn end-->
		<a id="scrollToTopBtn" class="progress-wrap">
			<i class="bi bi-arrow-up"></i>
		</a>
	</div>

	<!-- JS here -->

{% endblock %}