{% extends "include/homepage.html" %}
{% load static %}
{% block content %}
	<div class="main-page-wrapper">
		<!--[if lte IE 9]> <p class="browserupgrade"> You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security. </p> <![endif]-->

		<!-- Add your site or application content here -->
		{% include 'include/header.html' %}
		<!-- preloader start -->
		
		<div class="body-overlay"></div>
		<!-- slide-bar end -->

		<main>

			<!--page-title-area start-->
			<div class="page-title-area pt-220 pb-md-60"
				data-background="{% static 'assets/img/page-title/page-title-shadow-bg-1a.png' %}">
				<img class="shape__p1" src="{% static 'assets/img/shape/ht-star-2b.svg' %}" alt="Shape">
				<img class="shape__p2" src="{% static 'assets/img/shape/ht-star-2b.svg' %}" alt="Shape">
				<img class="shape__p3" src="{% static 'assets/img/shape/ht-star-2b.svg' %}" alt="Shape">
				<div class="blur__p4"></div>
				<div class="blur__p5"></div>
				<div class="blur__p6"></div>
				<div class="blur__p7"></div>
				<div class="container">
					<div class="row align-items-center">
						<div class="col-xl-4 col-lg-5">
							<div class="page-title-wrapper text-lg-start text-center mb-40">
								<h2 class="page-title mb-10">Error</h2>
								<div class="page-title-border mt-1 mb-10"></div>
								<nav aria-label="breadcrumb">
									<ul class="breadcrumb list-none justify-content-center justify-content-md-start">
										<li><a href="index.html">Home</a></li>
										<li><a href="#">Pages</a></li>
										<li class="active" aria-current="page">Error</li>
									</ul>
								</nav>
							</div>
						</div>
						<div class="col-xl-8 col-lg-7">
							<div class="page__title__img__wrapper text-xl-end text-center mb-40">
								<img class="main__1 img-fluid" src="{% static 'assets/img/page-title/ilustration-2a.svg' %}"
									alt="ilustration">
								<img class="main__2" src="{% static 'assets/img/page-title/ilustration-1a.svg' %}" alt="ilustration">
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--page-title-area end-->

			<!-- comingsoon__section start -->
			<div class="comingsoon__section pt-150 pt-lg-120 pb-150 pb-lg-120">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="comingsoon__wrapper text-center">
								<h2 class="comingsoon__title">Coming Soon . . .</h2>
								<p class="text-white">Holisticly coordinate user-centric resources through
									client-centric content.
									Completely embrace intermandated models for pandemic supply chains. Synergistically
									facilitate.</p>
								<div class="comingsoon__img mt-30 mb-60">
									<img class="w-100" src="{% static 'assets/img/comingsoon/comingsoon-1.svg' %}" alt="ilustration">
								</div>
								<h3 class="semi__title mb-20">Our Website Launched In:</h3>
								<ul class="website__timer">
									<li>
										<div class="timer__content">
											<h2 class="timer__number">12</h2>
											<span class="timer__days">Days</span>
										</div>
									</li>
									<li>
										<div class="timer__content">
											<h2 class="timer__number">15</h2>
											<span class="timer__days">Hours</span>
										</div>
									</li>
									<li>
										<div class="timer__content">
											<h2 class="timer__number">36</h2>
											<span class="timer__days">Minutes</span>
										</div>
									</li>
									<li>
										<div class="timer__content">
											<h2 class="timer__number">20</h2>
											<span class="timer__days">Seconds</span>
										</div>
									</li>
								</ul>
								<a class="ht_btn mt-60" href="index.html">Back To Home</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- comingsoon__section end -->

			<!-- subscribe__newsletter start -->
			{% include 'include/subscribe.html' %}
			<!-- subscribe__newsletter end -->


		</main>
		<!--footer-area start-->
		{% include 'include/footer.html '%}
		<!--footer-area end-->

		<!--scrollToTopBtn end-->
		<a id="scrollToTopBtn" class="progress-wrap">
			<i class="bi bi-arrow-up"></i>
		</a>
	</div>

{% endblock %}