{% extends "include/homepage.html" %}
{% load static %}
{% block content %}
	<div class="main-page-wrapper">
		<!--[if lte IE 9]> <p class="browserupgrade"> You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security. </p> <![endif]-->

		<!-- Add your site or application content here -->
		{% include 'include/header.html' %}
		<!-- preloader start -->
		
		<div class="body-overlay"></div>
		<!-- slide-bar end -->

		<main>

			<!--page-title-area start-->
			<div class="page-title-area pt-220 pb-md-60"
				data-background="{% static 'assets/img/page-title/page-title-shadow-bg-1a.png' %}">
				<img class="shape__p1" src="{% static 'assets/img/shape/ht-star-2b.svg' %}" alt="Shape">
				<img class="shape__p2" src="{% static 'assets/img/shape/ht-star-2b.svg' %}" alt="Shape">
				<img class="shape__p3" src="{% static 'assets/img/shape/ht-star-2b.svg' %}" alt="Shape">
				<div class="blur__p4"></div>
				<div class="blur__p5"></div>
				<div class="blur__p6"></div>
				<div class="blur__p7"></div>
				<div class="container">
					<div class="row align-items-center">
						<div class="col-xl-4 col-lg-5">
							<div class="page-title-wrapper text-lg-start text-center mb-40">
								<h2 class="page-title mb-10">Логин</h2>
								<div class="page-title-border mt-1 mb-10"></div>
								<nav aria-label="breadcrumb">
									<ul class="breadcrumb list-none justify-content-center justify-content-md-start">
										<li><a href="{% url 'index' %}">Главная</a></li>
										<li class="active" aria-current="page">Логин</li>
									</ul>
								</nav>
							</div>
						</div>
						<div class="col-xl-8 col-lg-7">
							<div class="page__title__img__wrapper text-xl-end text-center mb-40">
								<img class="main__1 img-fluid" src="{% static 'assets/img/page-title/ilustration-2a.svg' %}"
									alt="ilustration">
								<img class="main__2" src="{% static 'assets/img/page-title/ilustration-1a.svg' %}" alt="ilustration">
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--page-title-area end-->

			<!--login__section start-->
			<div class="login__section pt-150 pb-150 pt-lg-90 pb-lg-90">
				<div class="container">
					<div class="form__wrapper__bg">
						<div class="row align-items-center">
							<div class="col-lg-6">
								<div class="signup-form text-center mb-30">
									<h3 class="section__title-main mb-30">Войти в аккаунт</h3>
									<form action="#">
										<div class="input-box mail mb-20">
											<span><img src="{% static 'assets/img/icon/message-bold.svg' %}" alt="icon"></span>
											<input type="email" placeholder="Username or Email">
										</div>
										<div class="input-box pass mb-20">
											<span><img src="{% static 'assets/img/icon/lock-bold.svg' %}" alt="icon"></span>
											<input type="text" placeholder="Password">
										</div>
										<div class="col-12">
											<button class="ht_btn">Log In Now</button>
											<span class="divider">OR</span>
											<button class="signup-btn"><img class="mr-20"
													src="{% static 'assets/img/icon/google.svg' %}" alt="icon"> Log In With
												Google</button>
										</div>
									</form>
									<p class="text-white mt-40">Don’t have an account? <b>Sign up Today</b></p>
									<h5 class="text-white">Forgot password</h5>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="signup__right__content mb-30">
									<img class="w-100" src="{% static 'assets/img/contact/login-ilus-2.svg' %}" alt="ilustration">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--login__section end-->

			<!-- subscribe__newsletter start -->
			{% include 'include/subscribe.html' %}
			<!-- subscribe__newsletter end -->


		</main>
		<!--footer-area start-->
		{% include 'include/footer.html '%}
		<!--footer-area end-->


		<!--scrollToTopBtn end-->
		<a id="scrollToTopBtn" class="progress-wrap">
			<i class="bi bi-arrow-up"></i>
		</a>
	</div>

	<!-- JS here -->
{% endblock %}